<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Niaz Morshed</title>
    <link rel="stylesheet" href="design.css">
</head>

<body>

    <div class="menu">
        <img id="logo" src="../image/grandmaster.jpg" alt="grandmaster">
        <ul>

            <li><a href="Home.html">Home</a></li>
            <li><a href="bio.html">Bio</a></li>
            <li><a href="achievement.html">Achievement</a></li>
            <li><a href="news.html">News</a></li>
            
            <li><a href="#">Others</a>
                <div class="submenu">
                    <ul>
                        <li><a href="#">LifeStyle</a></li>
                        <li><a href="#">Image</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Events</a></li>
                    </ul>

                </div>
            </li>
            <li><input type="search" placeholder="Search"></a></li>
        </ul>

    </div>

    <div>
        <table>
            <caption>
                <h1>Niaz-Murshed Bio</h1>
            </caption>
            <tr>
                <th>Born</th>
                <td> May 13, 1966. Dhaka, Bangladesh</td>

            <tr>
                <th>Early Life</th>
                <td>Murshed passed his SSC exam in 1983 from St. Joseph High School and HSC exam in 1985 from Dhaka
                    College</td>
            </tr>
            <tr>
                <th>Career</th>
                <td> He played for Bangladesh in the Chess Olympiads of 1984, 1990, 1994, 1996, 2002, 2004, 2012 and
                    2014</td>
            </tr>
            <tr>
                <th>Education</th>
                <td> University of Pennsylvania</td>
            </tr>
            <tr>
                <th>Style to play</th>
                <td> Murshed plays primarily positional chess. He builds up small advantages, ultimately leading to a
                    victory.</td>
            </tr>

            </tr>
            <tr>
                <th>Title</th>
                <td> GrandMaster ( 1987) </td>
            </tr>
            <tr>
                <th>Fide Rating</th>
                <td> 2404</td>
            </tr>
            <tr>
                <th>Peak Rating</th>
                <td> 2490</td>
            </tr>
        </table>
    </div>



    <div>
        <footer>
            <strong>
                <i>
                    @COPYRIGHT@
                </i>
            </strong>
            <p>
                <b>Syed Jobyer Arfin</b>
            </p>
        </footer>


    </div>
</body>

</html>