<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Niaz Morshed</title>
    <link rel="stylesheet" href="design.css">
</head>

<body>

    <div class="menu">
        <img id="logo" src="../image/grandmaster.jpg" alt="grandmaster">
        <ul>

            <li><a href="Home.html">Home</a> </li>
            <li><a href="bio.html">Bio</a></li>
            <li><a href="achievement.html">Achievement</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="#">Others</a>
                <div class="submenu">
                    <ul>
                        <li><a href="#">LifeStyle</a></li>
                        <li><a href="#">Image</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Events</a></li>
                    </ul>

                </div>
            </li>

            <li><input type="search" placeholder="Search"></a></li>
        </ul>

    </div>

    <div>
        <table>
            <caption>
                <h1>Niaz Morshed - Pioneer in the South Asian Chess</h1>
            </caption>
            <tr>
                <td><img src="../image/Niaz-Murshed.jpeg" alt="niaz morshed" class="imgset"></td>
                <td> <img src="../image/grandmaster2.jpeg" alt="niaz morshed grandmaster" class="imgset"></td>
            </tr>
            <tr>
                <td>
                    <h3 class="textheading"> The First Sub-Continent GrandMaster</h3>
                    <br>
                    <p>Players like Rakib, Rajib, Abu Sufian Shakil, Taibur Rahman, Mehdi Hasan Parag, Minhazuddin Ahmed Sagor and a few others emerged. Only four managed to follow in Niaz's footsteps while the rest earned IM or FM titles and have been in limbo since</p>
                </td>
                <td>
                    <h3 class="textheading">GrandMaster</h3>
                    <br>
                    <p>A generation of players was inspired in the 90s after Niaz achieved the highest title at the age of 21 in 1987, although Zia and Reefat were already in action</p>
                </td>
            </tr>
        </table>




    </div>



    <div>
        <footer>
            <strong>
                <i>
                    @COPYRIGHT@
                </i>
            </strong>
            <p>
                <b>Syed Jobyer Arfin</b>
            </p>
        </footer>


    </div>
</body>

</html>