<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Niaz Morshed</title>
    <link rel="stylesheet" href="design.css">
</head>

<body>

    <div class="menu">
        <img id="logo" src="../image/grandmaster.jpg" alt="grandmaster">
        <ul>

            <li><a href="Home.html">Home</a></li>
            <li><a href="bio.html">Bio</a></li>
            <li><a href="achievement.html">Achievement</a></li>
            <li><a href="news.html">News</a></li>
            
            <li><a href="#">Others</a>
                <div class="submenu">
                    <ul>
                        <li><a href="#">LifeStyle</a></li>
                        <li><a href="#">Image</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Events</a></li>
                    </ul>

                </div>
            </li>
            <li><input type="search" placeholder="Search"></a></li>
        </ul>

    </div>

    <div>
        <marquee><h1>News About GrandMaster Niaz-Murshed</h1></marquee>
        <table>
            <tr>
                <th colspan="2">News</th>

            </tr>

            <tr>
                <td>News1</td>
                <td>News2</td>
                
            </tr>

            <tr>
                <td>News3</td>
                <td>News4</td>
                
            </tr>

            <tr>
                <td>News5</td>
                <td>News6</td>
                
            </tr>

            <tr>
                <td>News7</td>
                <td>News8</td>
                
            </tr>
        </table>




    </div>



    <div>
        <footer>
            <strong>
                <i>
                    @COPYRIGHT@
                </i>
            </strong>
            <p>
                <b>Syed Jobyer Arfin</b>
            </p>
        </footer>


    </div>
</body>

</html>